a.skip-link {
	position: fixed;
	top: -10000px;
	left: -10000px;
	z-index: 100;
	display: block;
	background-color: $color-white;
	padding: 20px;
	text-decoration: none;
	@include minimalBoxShadow;
	&:focus, &:hover, &:active {
		top: 0;
		left: 0;
	}
	&.screen-reader-text {
		opacity: 1;
		font-size: 15px;
		color: $color-charcoal;
	}

}

.screen-reader-text {
	opacity: 0;
	font-size: 0;
	color: rgba(0,0,0,0);
    height: 0;
    position: fixed;
    left: -1000px;
    top: -1000px;
}