body {
    height: 100%;
    background-color: $color-cream;
}
div#content {
    padding-left: 224px;
}

.home {
    main#main {
        margin-left: 60vw;
        padding: 20px 40px 60px 40px;
    }
}
.featured-post {
    position: fixed;
    width: 60vw;
    left: 224px;
    top: 0;
    bottom: 0;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    .card {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        right: 0;
        margin: auto;
        padding: 250px 5% 80px 5%;
        background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(100%, rgba($color-charcoal,1)));
        background: linear-gradient(to bottom, transparent 0%, rgba($color-charcoal,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222727', endColorstr='#222727',GradientType=0 );
        border: none;
        box-shadow: none;
    }
    h2 a {
        color: $color-offWhite;
        font-size: 45px;
        text-decoration: none;
        &:hover {
            color: $color-charcoal;
            background-color: $color-offWhite;
        }
    }
    span.entry-details {
        color: $color-offWhite;
    }
    p {
        color: $color-offWhite;
        border-top: solid 1px $color-offWhite;
        padding-top: 27px;
        a.read-more {
            border-color: $color-offWhite;
            color: $color-offWhite;
            &:hover {
                background-color: $color-offWhite;
                color: $color-charcoal;
            }
        }
    }
    h3 {
        color: $color-offWhite;
        border-color: $color-offWhite;
    }
}

.card {
    background-color: rgba($color-white, .9);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 4px;
    @include minimalBoxShadow;
    margin-bottom: 36px;
    position: relative;
}

.thumbnail-image {
    display: block;
    border-radius: 4px 4px 0 0;
    height: 20vw;
    background-size: cover;
    background-position: center center;
    margin: -20px -20px 20px -20px;
}

.card.thumbnail-left {
    min-height: 180px;
    padding-left: 180px;
    .thumbnail-image {
        margin: 0;
        position: absolute;
        display: block;
        width: 140px;
        height: 140px;
        border-radius: 4px;
        left: 18px;
    }
    @media (max-width: 570px) {
        padding-left: 20px;
        .thumbnail-image {
            position: relative;
            margin: 0 auto 20px;
            left: 0;
            width: 100%;
            height: 160px;
        }
    }
}

h2 {
    font-family: Henriette, serif;
    font-size: 23px;
    margin-bottom: 16px;
    a {
        color: $color-charcoal;
        text-decoration: none;
    }
}

.featured-post h2.entry-title {
    font-size: 32px;
}

span.entry-details {
    font-size: 14px;
    color: lighten($color-charcoal, 30);
    font-style: italic;
    display: block;
    margin-bottom: 20px;
}

a.more-link {
    font-weight: 500;
    white-space: nowrap;
    &:after {
        content: "\f105";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.home.paged {
    main#main {
        max-width: 1000px;
        margin-left: 0;
        padding: 60px;
    }
}

.nav-links {
    margin-bottom: 20px;
    .page-numbers {
        display: inline-block;
        padding: 4px 8px;
        border-radius: 4px;
    }
    .page-numbers:not(.current) {
        border: solid 1px $color-teal;
        &:hover {
            background-color: $color-teal;
            color: $color-offWhite;
            text-decoration: none;
        }
    }
    .next.page-numbers, .prev.page-numbers {
        font-size: 0;
        color: rgba(0,0,0,0);
        overflow: hidden;
        position: relative;
        top: 8px;
        padding: 4px 12px;
        &:after {
            content: "\f104";
            display: inline-block;
            color: $color-teal;
            text-indent: 0;
            font: normal normal normal 18px/1 FontAwesome;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        &:hover:after {
            color: $color-offWhite;
        }
    }
    .next.page-numbers:after {
        content: "\f105";
    }
    .nav-next, .nav-previous {
        background-image: none !important;
        margin-bottom: 20px;
        padding: 6px;
        border: solid 1px rgba($color-charcoal, .1) !important;
        background-image: none !important;
        max-width: 400px;
        a {
            span.post-title, span.meta-nav {
                color: $color-teal !important;
                &:hover {
                    color: $color-teal !important;
                }
            }
            span.meta-nav {
                display: block;
                text-transform: uppercase;
                font-size: 13px;
                font-weight: 600;
                margin-bottom: 12px;
            }
        }
    }
    .nav-previous {
        float: left;
        margin-right: 20px;
    }
    .nav-next {
        float: right;
    }
}

nav.post-navigation {
    padding: 10px 60px;
    max-width: 1100px;
    margin-bottom: 60px;
}



.single-post {
    article.post {
        overflow: hidden;
        header.entry-header {
            padding-top: 50vh;
            background-size: cover;
            background-position: center center;
            h1 {
                max-width: 100%;
                padding: 80px 60px 0px 60px;
                margin-bottom: 50px;
                position: relative;
                top: 1px;
                background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(100%, rgba($color-cream,1)));
                background: linear-gradient(to bottom, transparent 0%, rgba($color-cream,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );
                span {
                    position: relative;
                    top: 17px;
                    max-width: 1000px;
                    display: inline-block;
                }
            }
        }
    }
}

.comments-area {
    max-width: 1100px;
    padding: 30px 60px;
    .comment-respond {
        border-top: solid 1px lighten($color-charcoal, 50);
        border-bottom: solid 1px lighten($color-charcoal, 50);
        padding-top: 30px;
        margin-bottom: 30px;
    }
    h2.comments-title {
        border-top: solid 1px lighten($color-charcoal, 50);
        padding-top: 30px;
        margin-bottom: 24px;
    }
    h3.comment-reply-title {
        font-family: Henriette, serif;
        font-size: 23px;
        margin-bottom: 10px;
        text-align: left;
        border-bottom: none;
        color: $color-charcoal;
        margin-left: 0;
    }
    .comment-meta {
        padding-left: 60px;
        position: relative;
        margin-bottom: 12px;
        img.avatar {
            position: absolute;
            left: 0;
            top: 0;
            max-width: 50px;
            max-height: 50px;
        }
        .comment-author {
            margin-bottom: 8px;
        }
        time {
            font-size: 16px;
        }
    }
    .comment-content {
        margin-bottom: 8px;
    }
    .reply {
        margin-bottom: 25px;
    }
    #cancel-comment-reply-link {
        float: right;
    }
    li.comment {
        ol.children {
            padding-left: 30px;
        }
    }
    p.comment-notes {
        font-size: 15px;
    }
    label {
        display: block;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        line-height: 1.5em;
        margin-bottom: 3px;
        letter-spacing: 1px;
        color: lighten($color-charcoal, 20);
    }
    input[type="text"], input[type="search"], input[type="password"], input[type="email"], input[type="url"], input[type="number"], textarea, select {
        color: #3f3f3f;
        font-size: 14px;
        line-height: 35px;
        height: 35px;
        width: 100%;
        border: solid 1px #e8e9ec;
        border-radius: 4px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0 14px;
        font-family: "Open Sans", arial, sans-serif;
        &:focus {
            outline: 0;
            border-color: #bababc;
            background-color: #fafafa;
        }
    }
    textarea {
        min-height: 100px;
    }
    p.form-submit {
        text-align: right;
        margin-bottom: 30px;
    }
    input[type="submit"] {
        cursor: pointer;
        border: none;
        background-color: $color-teal;
        color: $color-offWhite;
        font-family: "Open Sans", arial, sans-serif;
        text-transform: uppercase;
        padding: 8px 12px;
        letter-spacing: .01em;
        font-size: 13px;
        font-weight: 600;
        border-radius: 4px;
        transition: background-color .18s ease;
        &:hover {
            background-color: lighten($color-teal, 20);
        }
    }
}

#mc_embed_signup {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 224px;
    padding: 8px;
    z-index: 100;
    background-color: darken($color-charcoal, 1);
    text-align: right;
    p {
        color: $color-gold;
        display: inline-block;
        font-size: 13px;
        font-weight: 600;
        text-align: center;
        margin-right: 12px;
        margin-bottom: 0;
        span {
            color: $color-cream;
        }
    }
    .mc-field-group, .clear {
        display: inline-block;
    }
    input[type="email"] {
        display: inline-block;
        max-width: 250px;
        background-color: rgba($color-offWhite, .1);
        color: $color-offWhite;
        margin-bottom: 0;
        &:focus {
            color: $color-charcoal;
            background-color: rgba($color-offWhite, .8);
        }
    }
    input[type="submit"] {
        display: inline-block;
        padding: 4px 6px;
        border-radius: 4px;
        background-color: rgba($color-offWhite, .1);
        border: none;
        color: $color-cream;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
        &:hover {
            cursor: pointer;
            background-color: rgba($color-offWhite, .2);
        }
    }
}


@media (max-width: 1680px) {
    .home:not(.paged) {
        main#main {
            margin-left: 55vw;
        }
    }
    .featured-post {
        width: 55vw;
    }
}
@media (max-width: 1500px) {
    .home:not(.paged) {
        main#main {
            margin-left: 50vw;
        }
    }
    .featured-post {
        width: 50vw;
    }
}
@media (max-width: 1180px) {
    .home:not(.paged) {
        main#main {
            margin-left: 45vw;
        }
    }
    .featured-post {
        width: 45vw;
    }
}
@media (max-width: 990px) {
    div#content {
        padding-left: 0;
    }
    .home:not(.paged) {
        main#main {
            margin-left: 50vw;
        }
    }
    .featured-post {
        width: 50vw;
        left: 0;
    }
    .thumbnail-image {
        height: 200px;
    }
    #mc_embed_signup {
        left: 0;
    }

}
@media (max-width: 750px) {
    .home.paged main#main {
        padding: 0 20px;
    }
    .single-post {
        article.post {
            header.entry-header {
                padding-top: 20vh;
                h1 {
                    padding: 80px 20px 0px 20px;
                }
            }
        }
    }
    nav.post-navigation {
        padding: 10px 20px;
    }
    .comments-area {
        padding: 30px 20px;
    }
    .home:not(.paged) {
        main#main {
            margin-left: 0;
            padding: 20px 20px 60px 20px;
        }
    }
    .featured-post {
        position: static;
        width: auto;
        min-height: 100vh;
        overflow: visible;
        margin: -20px -20px 27px;
        .card {
            margin-top: 60px;
            padding: 12px;
            position: static;
            background: rgba($color-offWhite, .7);
            h2 a {
                font-size: 32px;
            }
            h2 a, p, span {
                color: $color-charcoal;
                border-color: lighten($color-charcoal,50);
            }
            a.read-more {
                color: $color-offWhite;
                border-color: $color-teal;
                background-color: $color-teal;
                &:hover {
                    color: $color-offWhite;
                    background-color: lighten($color-teal, 8);
                    border-color: lighten($color-teal, 8);
                }
            }
        }
    }
}

@media (max-width: 670px) {
    #mc_embed_signup {
        text-align: center;
        p {
            span {
                display: none;
            }
        }
    }

}
@media (max-width: 500px) {
    #mc_embed_signup {
        p {
            display: none;
        }
    }
}