body {
	height: 100%;
	background-color: $color-cream;
}
div#content {
	padding-left: 224px;
}

.home {
	main#main {
		margin-left: 60vw;
		padding: 40px;
	}
}
.featured-post {
	position: fixed;
	width: 60vw;
	left: 224px;
	top: 0;
	bottom: 0;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 20px;
	.card {
		position: absolute;
		bottom: 0;
		width: 90%;
		left: 0;
		right: 0;
		margin: auto;
		margin-bottom: 90px;
	}
}

.card {
	background-color: rgba($color-white, .9);
	padding: 20px;
	box-sizing: border-box;
	border-radius: 4px;
	@include minimalBoxShadow;
	margin-bottom: 36px;
}

.thumbnail-image {
	display: block;
	border-radius: 4px 4px 0 0;
	height: 20vw;
	background-size: cover;
	background-position: center center;
	margin: -20px -20px 20px -20px;
}

h2 {
	font-family: Henriette, serif;
	font-size: 23px;
	margin-bottom: 16px;
	a {
		color: $color-charcoal;
		text-decoration: none;
	}
}

h2.older-posts, .featured-post h2.entry-title {
	font-size: 32px;
}

h2.older-posts {
	text-align: center;
	color: lighten($color-charcoal, 20);
	max-width: 200px;
	border-bottom: solid 1px lighten($color-charcoal, 40);
	margin: 0 auto 30px;
}

span.entry-details {
	font-size: 14px;
	color: lighten($color-charcoal, 30);
	font-style: italic;
	display: block;
	margin-bottom: 20px;
}

a.more-link {
	font-weight: 500;
	white-space: nowrap;
	&:after {
		content: "\f105";
	    display: inline-block;
	    font: normal normal normal 14px/1 FontAwesome;
	    font-size: inherit;
	    text-rendering: auto;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	}
}

.paged {
	main#main {
		margin-left: 0;
		.card {
			float: left;
			max-width: 30%;
			&:not(:nth-child(3n+3)) {
				margin-right: 5%;
			}
		}
	}
}

.nav-links {
	.page-numbers {
		display: inline-block;
		padding: 4px 8px;
	}
	.page-numbers:not(.current) {
		border: solid 1px $color-teal;
		&:hover {
			background-color: $color-teal;
			color: $color-offWhite;
			text-decoration: none;
		}
	}
	.next.page-numbers, .prev.page-numbers {
		font-size: 0;
		color: rgba(0,0,0,0);
		overflow: hidden;
	    position: relative;
	    top: 8px;
		padding: 4px 12px;
		&:after {
			content: "\f104";
		    display: inline-block;
		    color: $color-teal;
		    text-indent: 0;
		    font: normal normal normal 18px/1 FontAwesome;
		    text-rendering: auto;
		    -webkit-font-smoothing: antialiased;
		    -moz-osx-font-smoothing: grayscale;
		}
		&:hover:after {
			color: $color-offWhite;
		}
	}
	.next.page-numbers:after {
		content: "\f105";
	}
}

@media (max-width: 1680px) {
	.home {
		main#main {
			margin-left: 55vw;
		}
	}
	.featured-post {
		width: 55vw;
	}
}
@media (max-width: 1500px) {
	.home {
		main#main {
			margin-left: 50vw;
		}
	}
	.featured-post {
		width: 50vw;
	}
}
@media (max-width: 1180px) {
	.home {
		main#main {
			margin-left: 45vw;
		}
	}
	.featured-post {
		width: 45vw;
	}
}
@media (max-width: 990px) {
	div#content {
	    padding-left: 0;
	}
	.home {
		main#main {
			margin-left: 50vw;
		}
	}
	.featured-post {
		width: 50vw;
		left: 0;
	}
}
@media (max-width: 750px) {
	.home {
		main#main {
			margin-left: 0;
			padding: 20px;
		}
	}
	.featured-post {
		position: static;
	    width: auto;
	    min-height: 100vh;
	    overflow: visible;
	    margin: -20px -20px 27px;
		.card {
			margin-top: 60px;
			position: static;
		}
	}
	.thumbnail-image {
		height: 200px;
	}
}