/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
a.skip-link {
  position: fixed;
  top: -10000px;
  left: -10000px;
  z-index: 100;
  display: block;
  background-color: #fff;
  padding: 20px;
  text-decoration: none;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(34, 39, 39, 0.1);
  -moz-box-shadow: 0px 0px 10px 1px rgba(34, 39, 39, 0.1);
  box-shadow: 0px 0px 10px 1px rgba(34, 39, 39, 0.1); }
  a.skip-link:focus, a.skip-link:hover, a.skip-link:active {
    top: 0;
    left: 0; }
  a.skip-link.screen-reader-text {
    opacity: 1;
    font-size: 15px;
    color: #222727; }

.screen-reader-text {
  opacity: 0;
  font-size: 0;
  color: transparent;
  height: 0;
  position: fixed;
  left: -1000px;
  top: -1000px; }

body {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #222727; }

main {
  padding-bottom: 90px; }

* {
  box-sizing: border-box; }

.group:after {
  content: "";
  display: table;
  clear: both; }

select, input[type="search"], #mc_embed_signup input[type="email"] {
  background-color: #EFEBE2;
  font-family: "Open Sans", sans-serif;
  padding: 6px 8px;
  border-radius: 4px;
  border: solid 1px rgba(34, 39, 39, 0.5);
  display: block;
  width: 100%;
  text-align: left;
  margin-bottom: 15px; }
  select:focus, input[type="search"]:focus, #mc_embed_signup input[type="email"]:focus {
    outline: dotted 1px #bababc; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none; }

input[type="search"] {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201008%201008%22%3E%3Cpath%20fill%3D%22%239d9d98%22%20d%3D%22M738%20594l270%20270q0%2059-42.5%20101.5T864%201008L594%20738q-95%2055-200.5%2055T197%20740%2053%20595.5%200%20396t53-199T197%2053%20395%200t198%2053%20144%20144%2053%20198q4%20109-52%20199zm-520.5-20.5Q291%20648%20395.5%20648T574%20574.5%20648%20395t-73-178.5T395.5%20144t-179%2073T144%20394.5t73.5%20179z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: 9px 50%;
  background-size: 18px;
  padding-left: 39px !important; }

h1 {
  font-family: Henriette, serif;
  font-size: 40px; }

header.page-header {
  padding: 20px 0; }

.home h3 {
  text-align: center;
  font-family: Henriette, serif;
  font-size: 21px;
  color: #525d5d;
  max-width: 200px;
  border-bottom: solid 1px #839292;
  margin: 0 auto 30px; }

h3 {
  margin-bottom: 18px; }

strong {
  font-weight: 700; }

small {
  font-size: 12px;
  letter-spacing: .6px; }

p, main ul li {
  font-size: 15px;
  line-height: 1.7em;
  color: #222727; }
  p:not(:last-child), main ul li:not(:last-child) {
    margin-bottom: 27px; }

main ul {
  padding-left: 40px;
  margin-bottom: 27px;
  list-style: disc; }
  main ul li:not(:last-child) {
    margin-bottom: 4px; }

a {
  color: #366454;
  font-weight: 600; }
  a:hover {
    text-decoration: underline;
    color: #488570; }

div[tabindex] {
  cursor: pointer;
  transition: all .12s ease; }
  div[tabindex]:hover {
    transform: scale(1.02, 1.02);
    -webkit-box-shadow: 0px 0px 15px 2px rgba(34, 39, 39, 0.1);
    -moz-box-shadow: 0px 0px 15px 2px rgba(34, 39, 39, 0.1);
    box-shadow: 0px 0px 15px 2px rgba(34, 39, 39, 0.1); }
  div[tabindex]:focus {
    outline: dotted 1px #bababc; }

img {
  max-width: 100%; }

table {
  border: solid 1px rgba(34, 39, 39, 0.1);
  border-radius: 4px; }
  table tr {
    border-bottom: solid 1px rgba(34, 39, 39, 0.1); }
    table tr td, table tr th {
      text-align: left;
      padding: 8px 10px; }
      table tr td:not(:last-child), table tr th:not(:last-child) {
        border-right: solid 1px rgba(34, 39, 39, 0.1); }
    table tr th {
      background-color: #f5f5f5;
      text-transform: uppercase;
      font-size: 12px; }
    table tr ul {
      padding-left: 15px; }

.text-center {
  text-align: center; }

.type-page h1.entry-title {
  padding: 20px 60px; }

.inner {
  max-width: 1100px;
  padding: 0 60px; }

.entry-content {
  max-width: 1100px;
  padding: 0 60px;
  position: relative; }
  @media (min-width: 800px) {
    .entry-content section.article-content {
      padding-right: 300px; } }
  .entry-content aside.side-content {
    margin: 30px auto;
    padding-top: 30px;
    border-top: solid 1px #9eaaaa; }
    @media (min-width: 800px) {
      .entry-content aside.side-content {
        border-top: none;
        margin-top: 0;
        padding-top: 0;
        position: absolute;
        top: 0;
        right: 60px;
        width: 240px; } }
    .entry-content aside.side-content .fundraising-aside {
      margin: auto; }
  .entry-content img {
    display: block;
    max-height: 450px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 15px 2px rgba(34, 39, 39, 0.3);
    -moz-box-shadow: 0px 0px 15px 2px rgba(34, 39, 39, 0.3);
    box-shadow: 0px 0px 15px 2px rgba(34, 39, 39, 0.3); }
    .entry-content img.no-max-height {
      max-height: initial; }
  .entry-content figure {
    width: 100%;
    text-align: center;
    margin: 27px auto; }
    .entry-content figure img {
      margin: 0 auto 10px;
      display: block; }
    .entry-content figure figcaption {
      color: #525d5d;
      max-width: 500px;
      margin: 0 auto;
      font-size: 13px;
      line-height: 1.7em; }
  .entry-content time.updated:not(.entry-date) {
    display: none; }
  .entry-content .posted-on {
    display: block;
    font-size: 14px;
    margin-bottom: 10px; }
    .entry-content .posted-on a:before {
      font-weight: 400;
      content: "Posted "; }
    .entry-content .posted-on time.entry-date {
      font-weight: 600; }
  .entry-content .byline, .entry-content .cat-links {
    display: inline-block;
    font-size: 14px;
    margin-right: 5px; }
    .entry-content .byline:before, .entry-content .cat-links:before {
      color: #366454;
      content: "By "; }
    .entry-content .byline a, .entry-content .cat-links a {
      font-weight: 600; }
  .entry-content .cat-links {
    margin-bottom: 40px; }
    .entry-content .cat-links:before {
      content: ' in '; }

.search-results main, .category main, .author main {
  max-width: 1000px;
  padding: 0 60px 90px 60px; }

.read-more {
  margin-top: 12px;
  display: inline-block;
  border: solid 1px #366454;
  color: #366454;
  padding: 4px;
  border-radius: 4px;
  margin-top: 12px;
  float: right;
  text-decoration: none; }
  .read-more:hover {
    text-decoration: none;
    background-color: #366454;
    color: #EFEBE2; }

.taxonomy-description {
  margin: 20px 0; }

.home .fundraising-aside #sfp-sidebar ul li.sfp-widget:nth-child(4) {
  display: none; }

.fundraising-aside {
  margin-bottom: 36px;
  -webkit-box-shadow: 0px 0px 15px 2px rgba(34, 39, 39, 0.1);
  -moz-box-shadow: 0px 0px 15px 2px rgba(34, 39, 39, 0.1);
  box-shadow: 0px 0px 15px 2px rgba(34, 39, 39, 0.1);
  border-radius: 4px;
  overflow: hidden;
  max-width: 512px; }
  .fundraising-aside h2 {
    margin-bottom: 0; }
  .fundraising-aside #sfp-sidebar {
    border: none !important;
    width: 100% !important;
    z-index: auto !important;
    box-shadow: none !important; }
    .fundraising-aside #sfp-sidebar * {
      font-family: "Open Sans", sans-serif !important; }
    .fundraising-aside #sfp-sidebar h1#sidebar_pageTitle {
      display: none; }
    .fundraising-aside #sfp-sidebar a#sf_donateLink {
      line-height: 1.6em !important;
      letter-spacing: normal !important;
      height: auto !important;
      font-size: 15px !important;
      font-weight: 600 !important;
      padding: 4px !important;
      font-family: "Open Sans", sans-serif !important;
      background: #366454 !important; }
      .fundraising-aside #sfp-sidebar a#sf_donateLink:hover {
        background-color: rgba(54, 100, 84, 0.9) !important; }
      .fundraising-aside #sfp-sidebar a#sf_donateLink i#donation_icon {
        display: none; }
    .fundraising-aside #sfp-sidebar a#sf_pageLink {
      line-height: 1.6em !important;
      letter-spacing: normal !important;
      height: auto !important;
      font-size: 15px !important;
      font-weight: 600 !important;
      font-family: "Open Sans", sans-serif !important;
      background: transparent !important;
      padding: 4px !important;
      color: #366454 !important;
      border: solid 1px #366454; }
      .fundraising-aside #sfp-sidebar a#sf_pageLink:hover {
        background-color: #366454 !important;
        color: #fff !important; }
    .fundraising-aside #sfp-sidebar div#sfp-progess-bar-display {
      z-index: 1 !important;
      background-color: #A59132 !important; }
    .fundraising-aside #sfp-sidebar div#sfp-progress-percentage {
      z-index: 1 !important; }
    .fundraising-aside #sfp-sidebar ul li.sfp-widget:nth-child(5) {
      display: none; }
    .fundraising-aside #sfp-sidebar ul li.sfp-widget:nth-child(6) {
      display: none; }

@media (max-width: 750px) {
  .entry-content, .search-results main, .category main, .inner {
    padding: 0 20px; }

  .type-page h1.entry-title {
    padding: 20px; }

  h1 {
    font-size: 27px; } }
div#sidebar {
  position: fixed;
  width: 224px;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #222727;
  color: #EFEBE2;
  padding: 20px 20px 0px 20px;
  box-sizing: border-box;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000; }
  div#sidebar a {
    color: #EFEBE2;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    display: block; }
  div#sidebar hr {
    border: none;
    border-bottom: solid 1px #A59132;
    margin: 0 auto 27px;
    width: 90px; }
  div#sidebar ul.nav-menu a {
    padding: 7px 5px;
    transition: background-color .2s ease;
    letter-spacing: 1.2px;
    line-height: 1.6em; }
    div#sidebar ul.nav-menu a:hover {
      background-color: rgba(239, 235, 226, 0.2); }
  div#sidebar ul.nav-menu li.current_page_item a {
    background-color: rgba(239, 235, 226, 0.1); }
    div#sidebar ul.nav-menu li.current_page_item a:hover {
      background-color: rgba(239, 235, 226, 0.2); }
  div#sidebar .widget-area h2.widget-title {
    color: #EFEBE2;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-size: 12px;
    font-weight: 500;
    display: block;
    color: rgba(239, 235, 226, 0.6); }
  div#sidebar .widget-area select {
    color: rgba(239, 235, 226, 0.6);
    background-color: rgba(239, 235, 226, 0.1); }
    div#sidebar .widget-area select option {
      color: #222727;
      background-color: #EFEBE2;
      font-size: 15px;
      line-height: 2em; }
  div#sidebar .widget-area input[type="search"] {
    background-color: rgba(239, 235, 226, 0.1);
    color: #EFEBE2; }
    div#sidebar .widget-area input[type="search"]:focus {
      color: #222727;
      background-color: rgba(239, 235, 226, 0.8);
      background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201008%201008%22%3E%3Cpath%20fill%3D%22%23222727%22%20d%3D%22M738%20594l270%20270q0%2059-42.5%20101.5T864%201008L594%20738q-95%2055-200.5%2055T197%20740%2053%20595.5%200%20396t53-199T197%2053%20395%200t198%2053%20144%20144%2053%20198q4%20109-52%20199zm-520.5-20.5Q291%20648%20395.5%20648T574%20574.5%20648%20395t-73-178.5T395.5%20144t-179%2073T144%20394.5t73.5%20179z%22%2F%3E%3C%2Fsvg%3E"); }
  div#sidebar div.menu-social-container a {
    display: inline-block;
    position: relative;
    padding-left: 14px;
    padding-right: 0;
    font-size: 13px;
    opacity: .8; }
    div#sidebar div.menu-social-container a:hover {
      background-color: transparent;
      text-decoration: underline; }
    div#sidebar div.menu-social-container a i.fa {
      font-size: 16px;
      position: absolute;
      left: -8px;
      top: 10px; }

div.copyright-information {
  bottom: 10px;
  left: 0;
  padding: 20px; }
  div.copyright-information small {
    opacity: .5; }

header#masthead {
  padding-bottom: 27px; }
  header#masthead a {
    display: block;
    width: 100%;
    height: 85px;
    text-indent: -10000px;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='446' height='323.5' viewBox='0 0 446 323.5'%3E%3Cpath fill='%23BBAA42' d='M218.2 246.9c-22.7 0-41.2-18.5-41.2-41.2 0-13.7 7.4-27.2 18.1-34.1 10.7-6.9 15.1 5 7.3 10.8-7.8 5.8-12.4 14-12.4 23.3 0 15.5 12.6 28.2 28.2 28.2 15.5 0 28.2-12.6 28.2-28.2 0-9.4-5.7-19.1-12.4-23.3-6.7-4.2-3-16.9 7.3-10.8 10.4 6.1 18.1 20.5 18.1 34.1 0 22.7-18.5 41.2-41.2 41.2z'/%3E%3Cpath fill='%23BBAA42' d='M225.7 205.1c0 5.9-3.3 10.7-7.3 10.7s-7.3-4.8-7.3-10.7v-41.7c0-5.9 3.3-10.7 7.3-10.7s7.3 4.8 7.3 10.7v41.7zM269.4 56.2c-5.1.5-9.5-2.4-9.9-6.4-.4-4 3.5-7.7 8.6-8.1l6.2-.6c-.9-5.3-2.1-10-3.4-14l-6.2 1.4c-5 1.1-9.8-1.1-10.7-5-.9-3.9 2.4-8 7.4-9.2l2.8-.6c-8.1-11.3-20.2-17.9-21-10.6-1 8.7 19 60.8-14.2 125.3-5.3 10.2 18.7 20.5 24.2 13 1.6-2.3 3.2-4.6 4.6-6.9l-9.4-3.8c-4.7-1.9-7.4-6.5-5.8-10.3 1.5-3.7 6.6-5.2 11.4-3.3l10.8 4.4c1.6-3.5 3-7 4.2-10.6l-8.7-2.1c-5-1.2-8.3-5.4-7.3-9.3 1-3.9 5.8-6.1 10.7-4.9l9.3 2.3c1.1-4.7 1.8-9.3 2.4-13.9l-7.3-.1c-5.1-.1-9.2-3.4-9.2-7.4s4.2-7.3 9.4-7.2l8.2.1c.1-4.4 0-8.7-.3-12.8l-6.8.6zM204 6.1c4.3 2.7 6.1 7.5 4 10.9-2.1 3.5-7.3 4.1-11.7 1.5l-4.6-2.8c-2.6 3-5.6 6.9-8.7 11.6l6 2.6c4.7 2 7.2 6.7 5.6 10.4-1.6 3.7-6.7 5-11.4 3l-7.5-3.2c-1.8 3.7-3.6 7.7-5.2 11.9l10.2 3.2c4.9 1.5 7.9 5.9 6.7 9.7-1.2 3.8-6.2 5.7-11 4.2l-10.2-3.2c-1.2 4.7-2.1 9.5-2.8 14.6l13.4 1.1c5.1.4 9 4 8.7 8-.3 4-4.7 7-9.8 6.6l-13.2-1c0 4.1.3 8.2.7 12.5l14.6-1c5.1-.4 9.5 2.6 9.8 6.6.3 4-3.6 7.6-8.7 7.9l-13 .9c.7 2.9 1.5 5.8 2.5 8.7l7-2c4.9-1.4 9.8.6 10.9 4.5 1.1 3.9-2 8.2-6.9 9.5l-5.6 1.6v.1c3.9 8.4 30.4 6.5 27-4.5-23.5-77.6 22.9-125 24.8-133.5C227 .1 215 .5 204 6.1zM208.7 122.3c1.4-1.9 3.1-4 5.8-3.9s5.5 2.8 5.9 4.6c.4 1.7-.1 7.4-.8 8.6-.6 1.2-7.9 2.1-9.8 1.2-1.8-1-2.5-8.6-1.1-10.5z'/%3E%3Cpath fill='%23BBAA42' d='M206.9 112.2s.4 3.9 6.2 1.3c5.8-2.6 6.4 1.4 9.3-1 2.9-2.3 4.5-9.9.6-11.6-3.9-1.6-5.4-3.4-8.3-1-3 2.5-10 2.5-7.8 12.3zM200.7 96.7s.6 6 8.5 1.4c7.8-4.6 9.3-8.2 12.2-6.9 2.9 1.3 10.1 6.1 11.8 2.4 1.7-3.7 5.2-7.2-.1-9.6-5.4-2.4-10.5-7.8-15.5-3.8s-14.9 7.3-15.8 10.5c-1 3.1-1.1 3.3-1.1 6z'/%3E%3Cpath fill='%23BBAA42' d='M202.7 77.8s-.5 6.9 4.6 3.1c5.1-3.8 13.8-9.6 13.8-9.6l13.7 5.2s3.4 2.4 4.7-.5c1.3-2.9 3.1-8.5.9-9.5S228 60.8 228 60.8s-4.4-3.6-9.7 1.1c-5.4 4.7-13.8 7.9-14.5 10.8-1 3.2-1.1 5.1-1.1 5.1z'/%3E%3Cpath fill='%23BBAA42' d='M206.9 57.5s-.7 4.2 3 2.8c3.8-1.5 12.8-7.5 12.8-7.5s4.2-1.2 5.8-.1c1.6 1 11.1 7.3 13.2 5.3 2.1-2 2.1-8.9.9-10-1.2-1.1-9.1-5.4-11.4-6.2-2.3-.8-4.8-2.5-10.2 1.6-5.4 4.2-11.7 4.9-12.8 8.7-1.1 3.8-1.3 5.4-1.3 5.4z'/%3E%3Cpath fill='%23BBAA42' d='M217.9 35.7s-2.4 6.3 1.7 4.3c4.2-1.9 5.6-3.3 7.9-3.8 2.3-.4 7.3 4.4 9.9 2.5 2.6-1.9 1-8.9.1-10-1-1-4.1-3.2-5.8-3.4-1.7-.2-8.1 1.9-9.8 3.4-1.7 1.6-3.3 4.4-4 7z'/%3E%3Cg fill='%23BBAA42'%3E%3Cpath d='M57.8 296.2c-.1.1-1.4.8-3.9 2.3l-.8-.7c-.6.5-1.1.7-1.6.7-.3 0-3.6-.3-10-.9l-10-.9c-8.7 0-14.8 2.8-18.3 8.4-.9 1.4-1.7 3.8-2.4 7.3l-1 1c0 1.9-.4 4.5-1.1 7.8-1.3.5-2.6.7-4 .7-3.2 0-4.7-2-4.7-5.9.1-.6.3-2.7.7-6.1.4-4.1.7-7.1.9-9.2 1.6-3.6 3-5.4 4.4-5.4 1.5.6 2.4 1 2.6 1 .1 0 1.2-.9 3.4-2.6 2.3-1.2 4.8-2.5 7.6-3.8 2.7-1.3 5.8-1.9 9.4-1.9 1 0 8.8 1.2 23.2 3.7.1.1.3.4.7.8l4.5.5c-.1 1.8.1 2.9.4 3.2zM97.1 298c.2.7.3 1.6.3 2.9 0 .7 0 1.6-.1 2.5-.2 2.8-.9 4.5-1.9 5.1-1.6 0-5 .3-10.2 1l-7.8 1c0 .1-1.4.4-4.1 1-.3-.3-1.1-.4-2.4-.4l-.7.7c0 .8 3.1 2.1 9.2 3.8 1.7.1 3.6.2 5.7.5 3.6.4 5.4 1.3 5.4 2.7 0 .4-1.1 1.1-3.4 2.3-.1.1-.7.7-1.8 1.7-2.1.2-3.1.3-3.1.4h.1c-.1 0-1.6-.1-4.4-.3l-4.6-.3c-1 0-2.5-.5-4.7-1.5-.5-.2-1.7-.9-3.8-2-2.5-.9-4.7-2.5-6.7-4.9-2-2.4-3-4.6-3-6.6 0-2.4.3-4.2.9-5.4 4.3-8.5 13.1-12.8 26.3-12.8 4.3 0 7.5 1 9.7 3 1.8 1.4 3.5 3.3 5.1 5.6zm-8.9 3.5c-.4-1.4-.8-2.5-1-3.3-.1-.3-.9-.8-2.4-1.6-3.3.3-6.9.8-10.7 1.4-1 .1-2.2.7-3.7 1.7s-2.2 1.8-2.2 2.4c0 .5.2.8.5.8h13.8c3.2 0 5.1-.5 5.7-1.4zM144 313.8c.1.4.1.9.1 1.3 0 2.6-1.5 3.9-4.4 3.9-.1 0-.3-.1-.7-.2-.4-.1-.6-.2-.7-.2-.2 0-1.1.4-2.6 1.1-1.7.8-2.7 1.2-3 1.3-4.8 1.1-8.3 1.6-10.4 1.6-.2 0-.6-.1-1.4-.2h-1.8c-.8.4-1.5.6-2.1.6-3 0-6-.9-8.9-2.6-3-1.8-4.9-3.9-5.7-6.3-.6-1.9-1-2.9-1-2.9 0-2.2.4-4.1 1.3-5.7 1.4-2.4 3.8-4.9 7.4-7.7 1.7-1.3 3.8-2.5 6.4-3.6 5.1-2.2 8.8-3.3 11.1-3.3.1 0 .7.1 1.8.2s1.7.2 1.9.2c2.7 0 4.5.3 5.4 1 .9.7 1.3 2 1.3 4-.1 0-.5.9-1.3 2.6-.5.3-1.3.5-2.4.5-.1 0-.6-.1-1.2-.2-.7-.1-1.1-.2-1.2-.2-3.7 0-9.4 2.1-17.2 6.4-1.9 1.1-3.2 3-4 5.7 3.5 2.5 7.2 3.7 11 3.7 0 0 1.9-.2 5.6-.4l5.5-.3c.1 0 1.5-.2 4.3-.7 2.8-.4 4.2-.6 4.3-.6 1 .2 1.9.5 2.6 1zM200.2 303c0 3.5-.9 6.3-2.6 8.4-1.8 2.1-5.1 4.4-10.1 7-3.5 1.8-7.4 3.2-11.8 4.2-1.1.3-2.4.6-3.8.9-3.6 0-7.7-1.2-12.3-3.7-5.1-2.7-8-5.8-8.8-9.4-.1-.3-.4-1.1-.7-2.2-.5-1.3-.7-2.1-.7-2.3 0-.6.3-1.9 1-4.1.7-2.2 1.2-3.6 1.7-4.3.6-1 1.9-2 4-3l4.3-2c3-1.7 6.6-3.4 10.7-5.1l3.3-.2c.4-.2 1-.5 1.7-.8.2 0 1.1-.1 2.8-.3 1.7-.2 2.6-.3 2.7-.3 8.6 0 14.2 3.7 16.7 11 1.3 3.7 1.9 5.7 1.9 6.2zm-8.9-1.8c0-4.3-2.7-6.5-8.1-6.5-3.9 0-8.5.9-13.7 2.6-.4.3-1 .8-1.7 1.3-1.2.1-2.3.4-3.2.9-3.9 3.8-5.8 6.2-5.8 7.3 0 1.7 1.6 3.4 4.7 5.1 2.7 1.5 5 2.2 6.7 2.2 3 0 7.1-1.3 12.3-3.9 5.9-3 8.8-6 8.8-9zM247 315.5c0 4.2-1 6.3-3 6.3-.3 0-.9-.3-2-.8-1.2-.6-2.2-1-2.7-1.1-1.7-2.6-2.5-5.2-2.5-7.8 0-2.9-1-7.3-2.9-13.3-.3-.4-1-.6-2.1-.6-1 0-2.2.4-3.7 1.3-.3.1-.7.4-1.3.7l-2.5 1.3c-1.1.8-3.3 3.1-6.5 6.8-3.7 4.3-5.9 6.4-6.7 6.4-2.1 0-3.8-1.3-5.3-4-1.2-2.2-1.8-4.3-1.8-6.4 0-.8.6-2.5 1.9-5 0-.5.1-1.4.4-2.5.2-.7.9-2.2 2.3-4.7.1 0 .5-.1 1.3-.3.8-.1 1.3-.2 1.4-.2.1.4.7 1.1 1.9 2 1.2 1 2 1.4 2.4 1.4.1 0 2.8-1.2 8-3.5 5.2-2.4 7.9-3.5 8.1-3.5 3 0 6.2 2.2 9.6 6.5.8 1 1.9 2.7 3.3 5.1 1.6 4.1 2.4 9.4 2.4 15.9zM295.3 315.5c0 4.2-1 6.3-3 6.3-.3 0-.9-.3-2-.8-1.2-.6-2.2-1-2.7-1.1-1.7-2.6-2.5-5.2-2.5-7.8 0-2.9-1-7.3-2.9-13.3-.3-.4-1-.6-2.1-.6-1 0-2.2.4-3.7 1.3-.3.1-.7.4-1.3.7l-2.5 1.3c-1.1.8-3.3 3.1-6.5 6.8-3.7 4.3-5.9 6.4-6.7 6.4-2.1 0-3.8-1.3-5.3-4-1.2-2.2-1.8-4.3-1.8-6.4 0-.8.6-2.5 1.9-5 0-.5.1-1.4.4-2.5.2-.7.9-2.2 2.3-4.7.1 0 .5-.1 1.3-.3.8-.1 1.3-.2 1.4-.2.1.4.7 1.1 1.9 2 1.2 1 2 1.4 2.4 1.4.1 0 2.8-1.2 8-3.5 5.2-2.4 7.9-3.5 8.1-3.5 3 0 6.2 2.2 9.6 6.5.8 1 1.9 2.7 3.3 5.1 1.6 4.1 2.4 9.4 2.4 15.9zM341 298c.2.7.3 1.6.3 2.9 0 .7 0 1.6-.1 2.5-.2 2.8-.9 4.5-1.9 5.1-1.6 0-5 .3-10.2 1l-7.8 1c0 .1-1.4.4-4.1 1-.3-.3-1.1-.4-2.4-.4l-.7.7c0 .8 3.1 2.1 9.2 3.8 1.7.1 3.6.2 5.7.5 3.6.4 5.4 1.3 5.4 2.7 0 .4-1.1 1.1-3.4 2.3-.1.1-.7.7-1.8 1.7-2.1.2-3.1.3-3.1.4h.1c-.1 0-1.6-.1-4.4-.3l-4.6-.3c-1 0-2.5-.5-4.7-1.5-.5-.2-1.7-.9-3.8-2-2.5-.9-4.7-2.5-6.7-4.9-2-2.4-3-4.6-3-6.6 0-2.4.3-4.2.9-5.4 4.3-8.5 13.1-12.8 26.3-12.8 4.3 0 7.5 1 9.7 3 1.8 1.4 3.5 3.3 5.1 5.6zm-8.9 3.5c-.4-1.4-.8-2.5-1-3.3-.1-.3-.9-.8-2.4-1.6-3.3.3-6.9.8-10.7 1.4-1 .1-2.2.7-3.7 1.7s-2.2 1.8-2.2 2.4c0 .5.2.8.5.8h13.8c3.2 0 5.1-.5 5.7-1.4zM388 313.8c.1.4.1.9.1 1.3 0 2.6-1.5 3.9-4.4 3.9-.1 0-.3-.1-.7-.2-.4-.1-.6-.2-.7-.2-.2 0-1.1.4-2.6 1.1-1.7.8-2.7 1.2-3 1.3-4.8 1.1-8.3 1.6-10.4 1.6-.2 0-.6-.1-1.3-.2h-1.8c-.8.4-1.5.6-2.1.6-3 0-6-.9-8.9-2.6-3-1.8-4.9-3.9-5.7-6.3-.6-1.9-1-2.9-1-2.9 0-2.2.4-4.1 1.4-5.7 1.4-2.4 3.8-4.9 7.4-7.7 1.7-1.3 3.8-2.5 6.4-3.6 5.1-2.2 8.8-3.3 11.1-3.3.1 0 .7.1 1.8.2s1.7.2 1.9.2c2.7 0 4.5.3 5.4 1 .9.7 1.3 2 1.3 4-.1 0-.5.9-1.3 2.6-.5.3-1.3.5-2.4.5-.1 0-.6-.1-1.2-.2-.7-.1-1.1-.2-1.2-.2-3.7 0-9.4 2.1-17.2 6.4-1.9 1.1-3.2 3-4 5.7 3.5 2.5 7.2 3.7 11 3.7 0 0 1.9-.2 5.6-.4l5.5-.3c.1 0 1.5-.2 4.3-.7 2.8-.4 4.2-.6 4.3-.6.8.2 1.7.5 2.4 1zM446 289.6c0 1-.4 1.8-1.3 2.3-.9.5-2.5 1-4.9 1.4-2 .4-3.4.8-4 1.3-2.5.3-3.8.5-3.9.5-2.4 0-6 .3-10.7 1-1.5.2-2.4.7-2.7 1.5-.6 1.7-1.2 4.2-1.9 7.8-.1 3-.6 7.8-1.7 14.4-1 1.4-1.5 2.1-1.5 2.2-3.2-.2-5.2-.7-5.9-1.5-.3-.4-.5-1.5-.5-3.3 0-2.2.7-8.9 2-20.2-.7-.6-1.4-1-2.1-1h-.3c-.8.1-1.5.2-2 .2-.3 0-.6 0-.7-.1-2.9-.1-5.8-.3-8.7-.3-3.6-.6-5.4-2.4-5.4-5.4 0-1 .4-1.9 1.2-2.7.8-.8 1.7-1.2 2.7-1.2.1 0 .9.1 2.5.2 1.6.2 2.4.2 2.5.2.1 0 .7-.1 2-.2s2-.2 2.1-.2.4.1 1.1.4c.6.2 1 .3 1 .3.1 0 1-.1 2.6-.2 1.5-.1 2.3-.2 2.4-.2 1.5 0 2.4-.7 2.8-2.2.3-1.2.8-3.1 1.4-5.7l3-8.5c.1-1.1.3-2.7.7-4.6.8-1.1 1.5-2.4 2.2-3.9 3.4-7.1 6.3-10.7 8.6-10.7 1 0 2.5 1.7 4.3 5 0 .6-.5 1.9-1.6 4-.6.7-1.3 1.8-2.3 3.2-.8 2.4-2.4 6.9-4.8 13.4-.7 1.9-1.3 4.9-1.8 9 2.2.6 3.4.9 3.8.9l2.4-.3c2-.3 3.4-.4 4.3-.4 2.1 0 3.9.2 5.4.5l2.3.5c3.7.2 5.4 1 5.4 2.6z'/%3E%3C/g%3E%3C/svg%3E"); }

.nav-menu, .widget-area {
  margin-bottom: 27px; }

.toggle-mobile-menu {
  display: none; }

@media (max-width: 990px) {
  div.site-content {
    padding-top: 78px; }

  div#sidebar {
    width: 100%;
    height: 50px;
    padding-top: 8px;
    padding-bottom: 70px;
    overflow: hidden; }
    div#sidebar header#masthead a {
      max-width: 180px;
      height: 60px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='617.2' height='167.3' viewBox='0 0 617.2 167.3'%3E%3Cpath fill='%23BBAA42' d='M37.7 167.3c-15.4 0-27.9-12.5-27.9-27.9 0-9.3 5-18.4 12.3-23.1 7.3-4.7 10.2 3.4 5 7.3-5.3 4-8.4 9.5-8.4 15.8 0 10.5 8.6 19.1 19.1 19.1 10.5 0 19.1-8.6 19.1-19.1 0-6.3-3.8-13-8.4-15.8-4.5-2.8-2.1-11.5 5-7.3 7 4.1 12.3 13.9 12.3 23.1-.2 15.3-12.7 27.9-28.1 27.9z'/%3E%3Cpath fill='%23BBAA42' d='M42.8 138.9c0 4-2.2 7.2-4.9 7.2s-4.9-3.2-4.9-7.2v-28.2c0-4 2.2-7.2 4.9-7.2s4.9 3.2 4.9 7.2v28.2zM72.4 38.1c-3.5.3-6.5-1.6-6.7-4.3-.3-2.7 2.3-5.2 5.8-5.5l4.2-.4c-.6-3.6-1.4-6.8-2.3-9.5l-4.2 1c-3.4.8-6.6-.8-7.2-3.4-.6-2.7 1.6-5.4 5-6.2l1.9-.4C63.4 1.6 55.2-2.9 54.7 2.1 54 8 67.5 43.2 45 86.9c-3.6 6.9 12.7 13.9 16.4 8.8 1.1-1.5 2.2-3.1 3.1-4.7l-6.4-2.6c-3.2-1.3-5-4.4-4-7 1-2.5 4.5-3.5 7.7-2.2l7.3 3c1.1-2.4 2-4.8 2.8-7.1L66 73.7c-3.4-.8-5.6-3.6-4.9-6.3.6-2.7 3.9-4.1 7.3-3.3l6.3 1.5c.7-3.2 1.2-6.3 1.6-9.4l-5-.1c-3.5 0-6.3-2.3-6.2-5 0-2.7 2.9-4.9 6.3-4.9l5.5.1c.1-3 0-5.9-.2-8.6l-4.3.4zM28.1 4.1c2.9 1.8 4.1 5.1 2.7 7.4-1.4 2.3-5 2.8-7.9 1l-3.1-1.9c-1.8 2-3.8 4.7-5.9 7.9l4.1 1.8c3.2 1.4 4.9 4.5 3.8 7-1.1 2.5-4.6 3.4-7.7 2L9 27.1c-1.2 2.5-2.4 5.2-3.5 8.1l6.9 2.2c3.3 1 5.3 4 4.5 6.6-.8 2.6-4.2 3.9-7.5 2.8l-6.9-2.2c-.8 3.2-1.4 6.5-1.9 9.9l9.1.7c3.5.3 6.1 2.7 5.9 5.4-.2 2.7-3.2 4.7-6.7 4.4L0 64.4c0 2.8.2 5.6.5 8.5l9.9-.7c3.5-.2 6.4 1.8 6.6 4.5.2 2.7-2.5 5.1-5.9 5.4l-8.8.6c.5 2 1 3.9 1.7 5.9l4.8-1.3c3.3-.9 6.7.4 7.4 3 .7 2.6-1.4 5.5-4.7 6.5l-3.8 1.1v.1c2.7 5.7 20.6 4.4 18.3-3.1C10 42.4 41.4 10.2 42.7 4.5c1-4.4-7.1-4.2-14.6-.4zM31.3 82.8c1-1.3 2.1-2.7 4-2.6s3.7 1.9 4 3.1c.3 1.2-.1 5-.5 5.8-.4.8-5.3 1.4-6.6.8-1.4-.6-1.9-5.8-.9-7.1z'/%3E%3Cpath fill='%23BBAA42' d='M30.1 76s.2 2.6 4.2.9c3.9-1.8 4.4.9 6.3-.6 2-1.6 3-6.7.4-7.8-2.7-1.1-3.6-2.3-5.6-.7-2.1 1.5-6.8 1.6-5.3 8.2zM25.9 65.5s.4 4.1 5.7 1c5.3-3.1 6.3-5.5 8.3-4.7 2 .9 6.8 4.1 8 1.6 1.2-2.5 3.6-4.9-.1-6.5-3.6-1.6-7.1-5.3-10.5-2.6-3.3 2.7-10 4.9-10.7 7.1-.7 2.1-.7 2.3-.7 4.1z'/%3E%3Cpath fill='%23BBAA42' d='M27.2 52.7s-.4 4.7 3.1 2.1 9.3-6.5 9.3-6.5l9.3 3.5s2.3 1.6 3.2-.3c.9-2 2.1-5.8.6-6.4-1.5-.6-8.4-3.8-8.4-3.8s-3-2.5-6.6.7c-3.6 3.2-9.3 5.3-9.8 7.3-.6 2.1-.7 3.4-.7 3.4z'/%3E%3Cpath fill='%23BBAA42' d='M30.1 39s-.5 2.9 2 1.9 8.6-5.1 8.6-5.1 2.9-.8 3.9-.1c1.1.7 7.5 5 9 3.6 1.4-1.3 1.4-6 .6-6.8-.8-.8-6.2-3.6-7.7-4.2-1.5-.6-3.2-1.7-6.9 1.1s-7.9 3.3-8.7 5.9c-.7 2.5-.8 3.7-.8 3.7z'/%3E%3Cpath fill='%23BBAA42' d='M37.5 24.2s-1.6 4.2 1.2 2.9c2.8-1.3 3.8-2.3 5.3-2.6 1.5-.3 5 3 6.7 1.7 1.7-1.3.7-6.1.1-6.8-.6-.7-2.8-2.2-3.9-2.3-1.1-.2-5.5 1.3-6.6 2.3-1.2 1.1-2.3 3-2.8 4.8z'/%3E%3Cg fill='%23BBAA42'%3E%3Cpath d='M202.9 78.8c-.1.1-1.5.9-4.2 2.4l-.8-.8c-.6.5-1.2.8-1.7.8-.3 0-3.9-.3-10.6-.9l-10.6-1c-9.3 0-15.8 3-19.5 9-.9 1.5-1.8 4.1-2.6 7.8-.2.2-.6.5-1.1 1.1 0 2.1-.4 4.8-1.2 8.3-1.4.5-2.8.8-4.3.8-3.4 0-5.1-2.1-5.1-6.3.1-.7.3-2.8.7-6.5.4-4.3.7-7.6.9-9.8 1.7-3.8 3.3-5.8 4.6-5.8 1.6.7 2.6 1 2.8 1 .1 0 1.3-.9 3.6-2.7 2.4-1.3 5.1-2.7 8.1-4.1 2.8-1.4 6.2-2 10-2 1.1 0 9.4 1.3 24.7 3.9.1.2.4.4.8.8l4.8.6c.2 2 .4 3.2.7 3.4zM244.9 80.8c.2.7.3 1.8.3 3.1 0 .8 0 1.7-.1 2.7-.2 3-.9 4.8-2 5.4-1.7 0-5.3.4-10.9 1.1l-8.4 1.1c0 .1-1.5.4-4.4 1-.3-.3-1.2-.4-2.6-.4l-.7.7c0 .9 3.3 2.2 9.8 4 1.8.1 3.8.3 6.1.5 3.8.5 5.8 1.4 5.8 2.9 0 .4-1.2 1.2-3.6 2.4l-1.9 1.9c-2.2.2-3.3.4-3.3.4h.1c-.2 0-1.7-.1-4.7-.3l-4.9-.4c-1 0-2.7-.5-5-1.6-.5-.2-1.8-.9-4-2.1-2.6-.9-5-2.7-7.2-5.2-2.2-2.6-3.2-4.9-3.2-7 0-2.6.3-4.5 1-5.8 4.6-9.1 14-13.6 28.1-13.6 4.6 0 8 1.1 10.3 3.2 1.9 1.6 3.6 3.6 5.4 6zm-9.6 3.7c-.5-1.5-.8-2.6-1-3.5-.1-.3-.9-.9-2.6-1.7-3.5.3-7.3.8-11.4 1.5-1 .2-2.3.8-3.9 1.9-1.6 1.1-2.4 1.9-2.4 2.5 0 .6.2.8.5.8h14.7c3.5 0 5.5-.5 6.1-1.5zM295 97.7c.1.5.1.9.1 1.4 0 2.8-1.6 4.1-4.7 4.1-.1 0-.3-.1-.7-.2-.4-.1-.6-.2-.7-.2-.2 0-1.1.4-2.7 1.2-1.8.8-2.9 1.3-3.3 1.3-5.1 1.1-8.8 1.7-11.1 1.7-.2 0-.7-.1-1.4-.2h-2c-.8.4-1.6.6-2.3.6-3.3 0-6.4-.9-9.5-2.8-3.2-1.9-5.2-4.2-6.1-6.7-.7-2-1-3.1-1.1-3.1 0-2.4.5-4.4 1.4-6 1.5-2.5 4.1-5.3 7.9-8.2 1.8-1.4 4.1-2.6 6.8-3.9 5.5-2.3 9.4-3.5 11.9-3.5.1 0 .7.1 1.9.2s1.8.2 2 .2c2.8 0 4.8.3 5.7 1 1 .7 1.4 2.1 1.4 4.3-.1 0-.5.9-1.4 2.8-.6.4-1.4.6-2.5.6-.2 0-.6-.1-1.3-.2-.8-.1-1.2-.2-1.3-.2-3.9 0-10 2.3-18.4 6.9-2 1.1-3.5 3.2-4.2 6 3.7 2.7 7.6 4 11.8 4 0 0 2-.2 5.9-.4l5.9-.4c.1 0 1.6-.2 4.6-.7 3-.4 4.5-.6 4.6-.6 1 .1 2 .4 2.8 1zM354.9 86.1c0 3.7-.9 6.8-2.7 9-1.9 2.3-5.5 4.7-10.8 7.4-3.7 1.9-7.9 3.4-12.6 4.5-1.2.3-2.5.6-4 1-3.9 0-8.2-1.3-13.1-3.9-5.5-2.9-8.6-6.2-9.3-10-.1-.4-.4-1.1-.8-2.3-.5-1.4-.8-2.2-.8-2.4 0-.6.4-2 1.1-4.4.7-2.3 1.3-3.9 1.8-4.6.6-1.1 2-2.1 4.3-3.2l4.6-2.1c3.2-1.9 7-3.7 11.4-5.4l3.5-.2 1.8-.9c.2 0 1.2-.1 3-.3 1.8-.2 2.8-.3 2.9-.3 9.2 0 15.1 3.9 17.8 11.8 1.2 3.7 1.9 5.8 1.9 6.3zm-9.5-1.9c0-4.6-2.9-6.9-8.7-6.9-4.2 0-9.1.9-14.6 2.7-.5.4-1.1.8-1.8 1.3-1.3.1-2.5.4-3.4 1-4.2 4.1-6.2 6.7-6.2 7.8 0 1.9 1.7 3.7 5 5.4 2.9 1.5 5.3 2.3 7.2 2.3 3.2 0 7.6-1.4 13.1-4.1 6.2-3.1 9.4-6.2 9.4-9.5zM404.8 99.4c0 4.5-1.1 6.7-3.2 6.7-.3 0-1-.3-2.1-.8-1.3-.7-2.3-1-2.9-1.2-1.8-2.8-2.6-5.5-2.6-8.3 0-3.1-1-7.8-3.1-14.2-.3-.4-1.1-.7-2.3-.7-1 0-2.4.4-4 1.3-.3.2-.7.4-1.3.7l-2.6 1.4c-1.2.9-3.5 3.3-6.9 7.3-3.9 4.6-6.3 6.9-7.2 6.9-2.2 0-4.1-1.4-5.6-4.2-1.3-2.4-2-4.6-2-6.8 0-.9.7-2.6 2-5.3 0-.6.1-1.5.4-2.7.2-.7 1-2.4 2.5-5.1.1 0 .5-.1 1.4-.3.9-.2 1.4-.2 1.5-.2.1.4.8 1.2 2 2.2 1.3 1 2.1 1.5 2.6 1.5.1 0 2.9-1.2 8.5-3.7s8.4-3.8 8.6-3.8c3.2 0 6.6 2.3 10.2 7 .8 1 2 2.8 3.5 5.5 1.8 4.3 2.6 9.9 2.6 16.8zM456.3 99.4c0 4.5-1.1 6.7-3.2 6.7-.3 0-1-.3-2.1-.8-1.3-.7-2.3-1-2.9-1.2-1.8-2.8-2.6-5.5-2.6-8.3 0-3.1-1-7.8-3.1-14.2-.3-.4-1.1-.7-2.3-.7-1 0-2.4.4-4 1.3-.3.2-.7.4-1.3.7l-2.6 1.4c-1.2.9-3.5 3.3-6.9 7.3-3.9 4.6-6.3 6.9-7.2 6.9-2.2 0-4.1-1.4-5.6-4.2-1.3-2.4-2-4.6-2-6.8 0-.9.7-2.6 2-5.3 0-.6.1-1.5.4-2.7.2-.7 1-2.4 2.5-5.1.1 0 .5-.1 1.4-.3.9-.2 1.4-.2 1.5-.2.1.4.8 1.2 2 2.2 1.3 1 2.1 1.5 2.6 1.5.1 0 2.9-1.2 8.5-3.7s8.4-3.8 8.6-3.8c3.2 0 6.6 2.3 10.2 7 .8 1 2 2.8 3.5 5.5 1.8 4.3 2.6 9.9 2.6 16.8zM505.1 80.8c.2.7.3 1.8.3 3.1 0 .8 0 1.7-.1 2.7-.2 3-.9 4.8-2 5.4-1.7 0-5.3.4-10.9 1.1l-8.4 1.1c0 .1-1.5.4-4.4 1-.3-.3-1.2-.4-2.6-.4l-.7.7c0 .9 3.3 2.2 9.8 4 1.8.1 3.8.3 6.1.5 3.8.5 5.8 1.4 5.8 2.9 0 .4-1.2 1.2-3.6 2.4l-1.9 1.9c-2.2.2-3.3.4-3.3.4h.1c-.2 0-1.7-.1-4.7-.3l-4.9-.4c-1 0-2.7-.5-5-1.6-.5-.2-1.8-.9-4-2.1-2.6-.9-5-2.7-7.2-5.2-2.2-2.6-3.2-4.9-3.2-7 0-2.6.3-4.5 1-5.8 4.6-9.1 14-13.6 28.1-13.6 4.6 0 8 1.1 10.3 3.2 1.9 1.6 3.7 3.6 5.4 6zm-9.5 3.7c-.5-1.5-.8-2.6-1-3.5-.1-.3-.9-.9-2.6-1.7-3.5.3-7.3.8-11.4 1.5-1 .2-2.3.8-3.9 1.9-1.6 1.1-2.4 1.9-2.4 2.5 0 .6.2.8.5.8h14.7c3.5 0 5.5-.5 6.1-1.5zM555.2 97.7c.1.5.1.9.1 1.4 0 2.8-1.6 4.1-4.7 4.1-.1 0-.3-.1-.7-.2-.4-.1-.6-.2-.7-.2-.2 0-1.1.4-2.7 1.2-1.8.8-2.9 1.3-3.3 1.3-5.1 1.1-8.8 1.7-11.1 1.7-.2 0-.7-.1-1.4-.2h-2c-.8.4-1.6.6-2.3.6-3.3 0-6.4-.9-9.5-2.8-3.2-1.9-5.2-4.2-6.1-6.7-.7-2-1-3.1-1.1-3.1 0-2.4.5-4.4 1.4-6 1.5-2.5 4.1-5.3 7.9-8.2 1.8-1.4 4.1-2.6 6.8-3.9 5.5-2.3 9.4-3.5 11.9-3.5.1 0 .7.1 1.9.2s1.8.2 2 .2c2.8 0 4.8.3 5.7 1 1 .7 1.4 2.1 1.4 4.3-.1 0-.5.9-1.4 2.8-.6.4-1.4.6-2.5.6-.2 0-.6-.1-1.3-.2-.8-.1-1.2-.2-1.3-.2-3.9 0-10 2.3-18.4 6.9-2 1.1-3.5 3.2-4.2 6 3.7 2.7 7.6 4 11.8 4 0 0 2-.2 5.9-.4l5.9-.4c.1 0 1.6-.2 4.6-.7 3-.4 4.5-.6 4.6-.6 1.1.1 2.1.4 2.8 1zM617.2 71.9c0 1.1-.5 1.9-1.4 2.5-.9.6-2.6 1.1-5.2 1.5-2.2.4-3.6.9-4.2 1.4-2.6.3-4 .5-4.2.5-2.6 0-6.4.4-11.4 1.1-1.6.2-2.5.7-2.8 1.6-.6 1.8-1.3 4.5-2 8.3-.1 3.2-.7 8.3-1.8 15.3-1.1 1.5-1.6 2.2-1.6 2.3-3.4-.2-5.5-.7-6.3-1.6-.4-.4-.6-1.6-.6-3.5 0-2.4.7-9.5 2.2-21.6-.8-.7-1.5-1-2.2-1h-.3c-.9.1-1.6.2-2.1.2-.3 0-.6 0-.8-.1-3.1-.2-6.2-.3-9.3-.4-3.8-.7-5.8-2.6-5.8-5.8 0-1.1.4-2.1 1.3-2.9.8-.9 1.8-1.3 2.8-1.3.1 0 1 .1 2.6.3 1.7.2 2.5.3 2.7.3.1 0 .8-.1 2.2-.2 1.4-.1 2.1-.2 2.2-.2.1 0 .5.1 1.2.4.7.2 1 .4 1.1.4.2 0 1.1-.1 2.7-.2s2.4-.2 2.5-.2c1.6 0 2.6-.8 3-2.4.3-1.3.9-3.3 1.5-6.1l3.2-9.1c.1-1.2.4-2.8.7-4.9.8-1.1 1.6-2.5 2.4-4.1 3.6-7.6 6.7-11.4 9.2-11.4 1.1 0 2.6 1.8 4.6 5.3 0 .6-.6 2-1.7 4.3-.6.7-1.4 1.9-2.4 3.4-.8 2.5-2.5 7.3-5.2 14.3-.8 2-1.4 5.2-1.9 9.6 2.3.7 3.7 1 4 1l2.5-.3c2.1-.3 3.7-.4 4.6-.4 2.3 0 4.2.2 5.8.6l2.4.6c3.9-.1 5.8.8 5.8 2.5z'/%3E%3C/g%3E%3C/svg%3E"); }

  .toggle-mobile-menu {
    display: block;
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 16px;
    padding: 28px 0;
    border: none;
    background-color: transparent;
    color: #EFEBE2; }
    .toggle-mobile-menu:before {
      content: "\f0c9";
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      margin-right: 8px; }
    .toggle-mobile-menu:hover {
      cursor: pointer; }
    .toggle-mobile-menu:focus, .toggle-mobile-menu:active {
      outline: none; }

  .menu-open {
    overflow: hidden; }
    .menu-open div#sidebar {
      height: 100%;
      overflow-y: scroll; }
    .menu-open .toggle-mobile-menu:before {
      content: "\f00d"; } }
body {
  height: 100%;
  background-color: #FBFBFB; }

div#content {
  padding-left: 224px; }

.home main#main {
  margin-left: 60vw;
  padding: 20px 40px 60px 40px; }

.featured-post {
  position: fixed;
  width: 60vw;
  left: 224px;
  top: 0;
  bottom: 0;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px; }
  .featured-post .card {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
    padding: 250px 5% 80px 5%;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(100%, #222727));
    background: linear-gradient(to bottom, transparent 0%, #222727 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222727', endColorstr='#222727',GradientType=0 );
    border: none;
    box-shadow: none; }
  .featured-post h2 a {
    color: #EFEBE2;
    font-size: 45px;
    text-decoration: none; }
    .featured-post h2 a:hover {
      color: #222727;
      background-color: #EFEBE2; }
  .featured-post span.entry-details {
    color: #EFEBE2; }
  .featured-post p {
    color: #EFEBE2;
    border-top: solid 1px #EFEBE2;
    padding-top: 27px; }
    .featured-post p a.read-more {
      border-color: #EFEBE2;
      color: #EFEBE2; }
      .featured-post p a.read-more:hover {
        background-color: #EFEBE2;
        color: #222727; }
  .featured-post h3 {
    color: #EFEBE2;
    border-color: #EFEBE2; }

.card {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(34, 39, 39, 0.1);
  -moz-box-shadow: 0px 0px 10px 1px rgba(34, 39, 39, 0.1);
  box-shadow: 0px 0px 10px 1px rgba(34, 39, 39, 0.1);
  margin-bottom: 36px;
  position: relative; }

.thumbnail-image {
  display: block;
  border-radius: 4px 4px 0 0;
  height: 20vw;
  background-size: cover;
  background-position: center center;
  margin: -20px -20px 20px -20px; }

.card.thumbnail-left {
  min-height: 180px;
  padding-left: 180px; }
  .card.thumbnail-left .thumbnail-image {
    margin: 0;
    position: absolute;
    display: block;
    width: 140px;
    height: 140px;
    border-radius: 4px;
    left: 18px; }
  @media (max-width: 570px) {
    .card.thumbnail-left {
      padding-left: 20px; }
      .card.thumbnail-left .thumbnail-image {
        position: relative;
        margin: 0 auto 20px;
        left: 0;
        width: 100%;
        height: 160px; } }

h2 {
  font-family: Henriette, serif;
  font-size: 23px;
  margin-bottom: 16px; }
  h2 a {
    color: #222727;
    text-decoration: none; }

.featured-post h2.entry-title {
  font-size: 32px; }

span.entry-details {
  font-size: 14px;
  color: #697979;
  font-style: italic;
  display: block;
  margin-bottom: 20px; }

a.more-link {
  font-weight: 500;
  white-space: nowrap; }
  a.more-link:after {
    content: "\f105";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.home.paged main#main {
  max-width: 1000px;
  margin-left: 0;
  padding: 60px; }

.nav-links {
  margin-bottom: 20px; }
  .nav-links .page-numbers {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px; }
  .nav-links .page-numbers:not(.current) {
    border: solid 1px #366454; }
    .nav-links .page-numbers:not(.current):hover {
      background-color: #366454;
      color: #EFEBE2;
      text-decoration: none; }
  .nav-links .next.page-numbers, .nav-links .prev.page-numbers {
    font-size: 0;
    color: transparent;
    overflow: hidden;
    position: relative;
    top: 8px;
    padding: 4px 12px; }
    .nav-links .next.page-numbers:after, .nav-links .prev.page-numbers:after {
      content: "\f104";
      display: inline-block;
      color: #366454;
      text-indent: 0;
      font: normal normal normal 18px/1 FontAwesome;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
    .nav-links .next.page-numbers:hover:after, .nav-links .prev.page-numbers:hover:after {
      color: #EFEBE2; }
  .nav-links .next.page-numbers:after {
    content: "\f105"; }
  .nav-links .nav-next, .nav-links .nav-previous {
    background-image: none !important;
    margin-bottom: 20px;
    padding: 6px;
    border: solid 1px rgba(34, 39, 39, 0.1) !important;
    background-image: none !important;
    max-width: 400px; }
    .nav-links .nav-next a span.post-title, .nav-links .nav-next a span.meta-nav, .nav-links .nav-previous a span.post-title, .nav-links .nav-previous a span.meta-nav {
      color: #366454 !important; }
      .nav-links .nav-next a span.post-title:hover, .nav-links .nav-next a span.meta-nav:hover, .nav-links .nav-previous a span.post-title:hover, .nav-links .nav-previous a span.meta-nav:hover {
        color: #366454 !important; }
    .nav-links .nav-next a span.meta-nav, .nav-links .nav-previous a span.meta-nav {
      display: block;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 600;
      margin-bottom: 12px; }
  .nav-links .nav-previous {
    float: left;
    margin-right: 20px; }
  .nav-links .nav-next {
    float: right; }

nav.post-navigation {
  padding: 10px 60px;
  max-width: 1100px;
  margin-bottom: 60px; }

.single-post article.post {
  overflow: hidden; }
  .single-post article.post header.entry-header {
    padding-top: 50vh;
    background-size: cover;
    background-position: center center; }
    .single-post article.post header.entry-header h1 {
      max-width: 100%;
      padding: 80px 60px 0px 60px;
      margin-bottom: 50px;
      position: relative;
      top: 1px;
      background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(100%, #fbfbfb));
      background: linear-gradient(to bottom, transparent 0%, #fbfbfb 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); }
      .single-post article.post header.entry-header h1 span {
        position: relative;
        top: 17px;
        max-width: 1000px;
        display: inline-block; }

.comments-area {
  max-width: 1100px;
  padding: 30px 60px; }
  .comments-area .comment-respond {
    border-top: solid 1px #9eaaaa;
    border-bottom: solid 1px #9eaaaa;
    padding-top: 30px;
    margin-bottom: 30px; }
  .comments-area h2.comments-title {
    border-top: solid 1px #9eaaaa;
    padding-top: 30px;
    margin-bottom: 24px; }
  .comments-area h3.comment-reply-title {
    font-family: Henriette, serif;
    font-size: 23px;
    margin-bottom: 10px;
    text-align: left;
    border-bottom: none;
    color: #222727;
    margin-left: 0; }
  .comments-area .comment-meta {
    padding-left: 60px;
    position: relative;
    margin-bottom: 12px; }
    .comments-area .comment-meta img.avatar {
      position: absolute;
      left: 0;
      top: 0;
      max-width: 50px;
      max-height: 50px; }
    .comments-area .comment-meta .comment-author {
      margin-bottom: 8px; }
    .comments-area .comment-meta time {
      font-size: 16px; }
  .comments-area .comment-content {
    margin-bottom: 8px; }
  .comments-area .reply {
    margin-bottom: 25px; }
  .comments-area #cancel-comment-reply-link {
    float: right; }
  .comments-area li.comment ol.children {
    padding-left: 30px; }
  .comments-area p.comment-notes {
    font-size: 15px; }
  .comments-area label {
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.5em;
    margin-bottom: 3px;
    letter-spacing: 1px;
    color: #525d5d; }
  .comments-area input[type="text"], .comments-area input[type="search"], .comments-area input[type="password"], .comments-area input[type="email"], .comments-area input[type="url"], .comments-area input[type="number"], .comments-area textarea, .comments-area select {
    color: #3f3f3f;
    font-size: 14px;
    line-height: 35px;
    height: 35px;
    width: 100%;
    border: solid 1px #e8e9ec;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 14px;
    font-family: "Open Sans", arial, sans-serif; }
    .comments-area input[type="text"]:focus, .comments-area input[type="search"]:focus, .comments-area input[type="password"]:focus, .comments-area input[type="email"]:focus, .comments-area input[type="url"]:focus, .comments-area input[type="number"]:focus, .comments-area textarea:focus, .comments-area select:focus {
      outline: 0;
      border-color: #bababc;
      background-color: #fafafa; }
  .comments-area textarea {
    min-height: 100px; }
  .comments-area .comment-form-cookies-consent input.wp-comment-cookies-consent {
    display: inline-block;
    margin: 0 12px 0 0; }
  .comments-area .comment-form-cookies-consent label {
    display: inline-block; }
  .comments-area p.form-submit {
    text-align: right;
    margin-bottom: 30px; }
  .comments-area input[type="submit"] {
    cursor: pointer;
    border: none;
    background-color: #366454;
    color: #EFEBE2;
    font-family: "Open Sans", arial, sans-serif;
    text-transform: uppercase;
    padding: 8px 12px;
    letter-spacing: .01em;
    font-size: 13px;
    font-weight: 600;
    border-radius: 4px;
    transition: background-color .18s ease; }
    .comments-area input[type="submit"]:hover {
      background-color: #5aa68c; }

#mc_embed_signup {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 224px;
  padding: 8px;
  z-index: 100;
  background-color: #202424;
  text-align: right; }
  #mc_embed_signup p {
    color: #A59132;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    margin-right: 12px;
    margin-bottom: 0; }
    #mc_embed_signup p span {
      color: #FBFBFB; }
  #mc_embed_signup .mc-field-group, #mc_embed_signup .clear {
    display: inline-block; }
  #mc_embed_signup input[type="email"] {
    display: inline-block;
    max-width: 250px;
    background-color: rgba(239, 235, 226, 0.1);
    color: #EFEBE2;
    margin-bottom: 0; }
    #mc_embed_signup input[type="email"]:focus {
      color: #222727;
      background-color: rgba(239, 235, 226, 0.8); }
  #mc_embed_signup input[type="submit"] {
    display: inline-block;
    padding: 4px 6px;
    border-radius: 4px;
    background-color: rgba(239, 235, 226, 0.1);
    border: none;
    color: #FBFBFB;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600; }
    #mc_embed_signup input[type="submit"]:hover {
      cursor: pointer;
      background-color: rgba(239, 235, 226, 0.2); }

@media (max-width: 1680px) {
  .home:not(.paged) main#main {
    margin-left: 55vw; }

  .featured-post {
    width: 55vw; } }
@media (max-width: 1500px) {
  .home:not(.paged) main#main {
    margin-left: 50vw; }

  .featured-post {
    width: 50vw; } }
@media (max-width: 1180px) {
  .home:not(.paged) main#main {
    margin-left: 45vw; }

  .featured-post {
    width: 45vw; } }
@media (max-width: 990px) {
  div#content {
    padding-left: 0; }

  .home:not(.paged) main#main {
    margin-left: 50vw; }

  .featured-post {
    width: 50vw;
    left: 0; }

  .thumbnail-image {
    height: 200px; }

  #mc_embed_signup {
    left: 0; } }
@media (max-width: 750px) {
  .home.paged main#main {
    padding: 0 20px; }

  .single-post article.post header.entry-header {
    padding-top: 20vh; }
    .single-post article.post header.entry-header h1 {
      padding: 80px 20px 0px 20px; }

  nav.post-navigation {
    padding: 10px 20px; }

  .comments-area {
    padding: 30px 20px; }

  .home:not(.paged) main#main {
    margin-left: 0;
    padding: 20px 20px 60px 20px; }

  .featured-post {
    position: static;
    width: auto;
    min-height: 100vh;
    overflow: visible;
    margin: -20px -20px 27px; }
    .featured-post .card {
      margin-top: 60px;
      padding: 12px;
      position: static;
      background: rgba(239, 235, 226, 0.7); }
      .featured-post .card h2 a {
        font-size: 32px; }
      .featured-post .card h2 a, .featured-post .card p, .featured-post .card span {
        color: #222727;
        border-color: #9eaaaa; }
      .featured-post .card a.read-more {
        color: #EFEBE2;
        border-color: #366454;
        background-color: #366454; }
        .featured-post .card a.read-more:hover {
          color: #EFEBE2;
          background-color: #447e6a;
          border-color: #447e6a; } }
@media (max-width: 670px) {
  #mc_embed_signup {
    text-align: center; }
    #mc_embed_signup p span {
      display: none; } }
@media (max-width: 500px) {
  #mc_embed_signup p {
    display: none; } }

/*# sourceMappingURL=style.css.map */
